.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  
  color: white;
  padding: 10rem 2rem;
 
  height: 100% ;
  background-image: url("../../assets/feedback-img.jpeg");
}

.contact-div__text h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 1rem; /* Adjusted margin-bottom to create space */
  margin-left: 2rem;
}

.contact-div__text p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: white; /* Changed color from gray to black */
  line-height: 1.6;
  margin-top: 3rem; /* Adjusted margin-top to create space */
  word-wrap: break-word;
}


.contact-div__form {
  display: flex;
  flex-direction: row;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    textarea {
      flex: 1;
      background-color: #f2f2f2;
      padding: 15px 20px;
      font-size: 1.6rem;
      border: none;
      outline: none;
      margin-bottom: 2rem;
      width: 100%;
    }

    textarea {
      height: 12rem;
    }

    button {
      background-color: #ff4d30;
      padding: 1.5rem 2.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
      transition: all 0.3s;
      border: 2px solid #ff4d30;
      color: white;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
        background-color: #fa4226;
      }
    }
  }
}

.label {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
  b {
    color: red;
  }
}