* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #663300;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: #ffcc99;
}

.logo {
  width: 180px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #663300;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: lightblue;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: #d57e27;
  color: white;
}

.hide {
  display: none;
}


@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #e9d2bd; /* Background color of dropdown */
  border: 1px solid #ffcc99; /* Border color */
  padding: 0.5rem;
  z-index: 1; /* Ensure dropdown appears above other content */
}

li {
  color: #ffcc99;
}

.dropdown-menu li {
  list-style: none;
}

.nav__link:hover .dropdown-menu {
  display: block; /* Show dropdown menu on hover */

}


svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}




/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  /* border-radius: 30px; */
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: red;
  color: white;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}







