/* Footer.css */

.footer {
  background-color: #ffcc99;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  color: #663300;
}
  
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  justify-content: center; /* Center align items vertically */
  background-color: #ffcc99;
}
  
.footer-links {
  margin-top: 0.5rem;
  flex-direction: column;
}
  
.footer-link {
  color: #663300;
  text-decoration: none;
  margin-right: 1rem;
}
  
.footer-link:hover {
  text-decoration: underline;
}
  
/* Copyright text */
 .copyright {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

  